.render{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.render-item{
    flex: 1 1;
    margin: 10px;
}

.render-row{
    display: flex;
    flex-direction: column;  
    padding: 10px;
}

.render-item-row{

    flex: 1;
    display: flex;
}


.pagination{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border-radius: 50px;
    padding: 10px;
   
}

.pagination li{
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #57bf27;
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    width: 20px;
    height:20px;
    color: #e2e2e2;
}

.active{
    color: #000 !important;
}

.pagination .disabled{
    background: lightgray;
    cursor:default;
}

.previous,
.next{
    cursor: pointer;
    color: #57bf27;
    padding: 5px;
    }

.break{
    cursor: pointer;
    display: flex;
}
.breaklink{
    cursor: pointer;
}

.active{
    font-weight: bold;
}

/* On screens that are 680px or less*/
@media screen and (max-width: 680px){
    .render{
        flex-wrap:unset;
        flex-direction: column;
    }
    .render-item{
    }

    .render-row{
        padding: 0px;
    }

    .render-item-row{

       
    }
}